.App {
  text-align: center;
}

.App-header {
  font-weight: bold;
  color: #7159c1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #dce0e6;
}

.form {
  align-items: center;
  margin: 5px;
}

.input {
  text-decoration: none;
  padding-left: 10px;
  margin-left: 10px;
  width: 10vw;
  height: 5vh;
  font-size: 16px;
  outline: 0;
  border: 0 none;
  border-radius: 5px;
  color: #7159c1;
  background-color: #fff;
}
::placeholder {
  color: #7159c1;
}

.buttons {
  font-size: 20px;
  font-weight: 600;
  background-color: #7159c1;
  color: #fff;
  width: 10vw;
  height: 5vh;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
}

.styles {
  font-weight: bold;
}

p {
  font-size: 30px;
  margin-top: 50px;
}
